<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>inicio</title>
	<link rel="stylesheet" href="{{STATIC_URL}}/css/style.css">
</head>
<body>
		
	{% if user.is_authenticated %}
		<h2>Bienvenido</h2>
		<h2>{{user.username|capfirst}}</h2>
        <a href="/detail/{{user.id}}">ver perfil </a>
        <br>
        <a href="/nuevo_usuario/">Nuevo Usuario </a>
        <br>
        <a href="/new/">Nuevo Perfil </a>
        <br>
		<a href="/cerrar/">Salir </a>
        {% else%}
        <a href="admin/">ingresar</a>
	{%endif%}
</body>
</html>
